<nav class="kc-tab-bar">
    <NavLink class="kc-tab-item" href="" Match="NavLinkMatch.All">
        <span class="kc-tab-icon" aria-hidden="true">🏠</span>
        <span class="kc-tab-label">Home</span>
    </NavLink>
</nav>
