<nav class="ios-tab-bar ios-frosted">
    <NavLink class="ios-tab-item" href="" Match="NavLinkMatch.All">
        <span class="ios-tab-icon" aria-hidden="true">🏠</span>
        <span class="ios-tab-label">Home</span>
    </NavLink>
</nav>
